@import 'inherited';
@import 'colours';

// NAV
nav {
  max-width: none;
}

nav ul li.current-menu-item a,
nav ul li.current_page_parent {
  a {
    border-bottom: solid 1px $light-grey; 
  }
}

ul.sub-menu {
  display: none;
}

footer.page-footer {
  display: block;
  background: rgba(red, .1);
}

.nav--footer {
  display: flex;
  margin: 0.9rem 0;
  line-height: 1.4rem;
  li {
    padding-left: 1rem;
    a {
      color: $med-grey;
    }
  }
}

#linkedin-icon svg {
  fill: $med-grey;
}